/*----------------------------------------*/
/*  15. Sidebar
/*----------------------------------------*/
.sidebar-wrapper { 
    border: 1px solid $shop-color;
    clear: both;
    box-shadow: inset 0 0 0 1px $white;
    padding: 25px 20px;
    margin-bottom: 45px;
    @media #{$large-mobile}{
        margin-top: 60px; 
        padding-bottom: 15px;
    }
    & > h3 { 
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: $link-color;
        line-height: 24px;
        border-bottom: 1px solid $color7;
        font-family: $oswald;
        padding-bottom: 10px;
        margin-bottom: 36px;
    }
    .sidebar-widget { 
        margin-bottom: 42px;
        @media #{$large-mobile}{margin-bottom: 30px}
        h3 { 
            font-family: $oswald;
            line-height: 30px;
            font-size: 14px;
            text-transform: uppercase;
            color: $shop-color-8;
            font-weight: 700;
            letter-spacing: .3px;
            margin-bottom: 25px;
            @media #{$large-mobile}{margin-bottom: 15px}
        }
        .sidebar-widget-option-wrapper { 
            .sidebar-widget-option { 
                margin-bottom: 16px;
                input{ 
                    position: relative;
                    top: 2px;
                }
                label { 
                    cursor: pointer;
                    color: $body-color;
                    margin-bottom: 0;
                    margin-left: 11px;
                }
                a {
                    color: $setting-color;
                    &:hover {color: $green}
                }
            }
        }
        .ui-slider {
            background: $shop-color-7 none repeat scroll 0 0;
            border: 0 none;
            @include border-radius(25px);
            height: 5px;
            margin: 0 6px 25px;
            margin-bottom: 16px;
            box-shadow: inset 0 2px 0 0 $shop-color-6;
            .ui-slider-range {
                background: $green none repeat scroll 0 0;
            }
            .ui-slider-handle {
                background: $green none repeat scroll 0 0;
                border: 0 none;
                @include border-radius(50%);
                height: 13px;
                top: 50%;
                @include transform(translate(0px, -50%));
                width: 13px;
                box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
                background: $white;
                cursor: pointer;
                &:hover {background: $green}
            }
        }
        .price_slider_amount {
            .slider-values {
                input {
                    font-weight: 500;
                    color: $black;
                    font-family: $oswald;
                    border: 0;
                    background: transparent;
                    height: 12px;
                    &:focus {box-shadow: none}
                }
            }
        }
        &.price-widget {
            margin-bottom: 37px;
            @media #{$large-mobile}{margin-bottom: 27px}
        }
        &:last-child {
            margin-bottom: 25px
        }
    }
}
.sidebar-banner-img { 
	overflow: hidden;
	margin-bottom: 22px;
    a { 
        img { 
            @include transitionin(.3s);
        }
        &:hover img {@include transform(scale3d(1.05, 1.05, 1.05));}
    }
}