// Font Family
$poppins: 'Poppins', sans-serif;
$oswald: 'Oswald', sans-serif;
$playfair: 'Playfair Display', serif;


// Colors ---------------
$white: #ffffff;
$white-light: #f0f0f0;
$white-light-2: #ececeb;
$gray: #f6f5f1;
$black: #000000;
$color1: #222222;
$color2: #211e1e;
$color3: #202226;
$color4: #444444;
$color6: #ccc;
$color7: #e1e1e1;
$color8: #818181;
$color9: #fbfbfb;
// Body Color
$body-color: #696969;
// Heading Color
$heading-color: #404040;
// Theme Color
$green: #78a206;
$green-2: #7ba212;
$green-3: #78a106;
$green-4: #79A207;
$green-5: #008000;
$dark-green: #6c8e01;
$olive: #9db165;
$yellow: #FFB902;
$golden: #c5ac57;
$dark-3: #333;
$orange: #a43d21;
$red: #f70000;
$red-2: #ff0000;
$gray-2: #f3f3f3;
//Theme Background Color
$bg-color: #F6F5F3;
$bg-color-2: #F6F5F3;
$bg-color-3: #dedede;
$bg-color-4: #dfdcde;
// Slider Color
$slider-heading-small: #444;
$slider-heading-large: #2c2c2c;
$slider-paragraph: #444;
//Hover
$dark-hover: #2c2c2c;
//Shadow
$shadow-color: #bdbdbd;
//Header Color
$header-color: #292929;
//Setting Color
$setting-color: #6b6b6b;
//Input Color
$input-color: #7b7b7b;
//Search Input Color
$search-input-color: #a5a5a5;
//Social Icon
$social-icon-color: #b6b6b6;
//Form Background
$form-bg: #e9e8e2;
//Slick Color
$slick-color: #c5c5c5;
$slick-color-2: #b1b1b1;
//link Color
$link-color: #252525;
//Countdown Color
$countdown-color: #232323;
$countdown-color-2: #939393;
//Feature Color
$feature-color: #e7e7e7;
$feature-color-2: #2b2b2b;
$feature-heading: #a9a9a9;
//Border Color
$border-color: #ebebeb;
//Cart Color
$cart-color: #969696;
$cart-color-2: #bababa;
$cart-color-3: #3e3d43;
//Tab Link Color
$tab-link-color: #aeaeae;
//Price Color
$price-color: #b8b8b8;
//Mobile Menu Color
$mobile-menu-color: #cccccc;
$mobile-menu-color-2: #858585;
//Blog Color
$blog-color: #e8e8e8;
$blog-color-2: #9d9d9d;
//Shop Color
$shop-color: #e2e2e2;
$shop-color-2: #7b7b7b;
$shop-color-3: #3e3e3e;
$shop-color-4: #898888;
$shop-color-5: #949494;
$shop-color-6: #cacaca;
$shop-color-7: #dbdbdb;
$shop-color-8: #363636;
$shop-color-9: #898989;
//Text Color
$text-color: #707070;
$text-color-2: #777777;
$text-color-3: #515151;
$text-color-4: #aaaaaa;
$text-color-4: #23232c;
$text-color-6: #f7f7f7;
$text-color-7: #f6f6f6;
$text-color-8: #999999;
$text-color-9: #555555;
$facebook: #2d4373;
$twitter: #0087ba;
$pinterest: #C51F26;
$linkedin: #005983;
$google: #DC5245;

// Responsive Variables
$extraBig-device : 'only screen and (min-width: 1600px)';
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$medium-device : 'only screen and (min-width: 1100px) and (max-width: 1199px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$desktop-device-2 : 'only screen and (min-width: 992px) and (max-width: 1100px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$medium-mobile:'only screen and (max-width: 570px)';
$small-mobile: 'only screen and (max-width: 479px)';

